#container {
  width: 100vw;
  height: 100vh;
}
#main {
  background-color: var(--color-whiteBackground);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.blurBox {
  width: 76%;
  height: 80%;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
}
.blurBox > .flexBox {
  height: 7rem;
  justify-content: space-around;
}
header {
  width: 90%;
  height: 50px;
  margin: 30px;
  display: flex;
  align-items: center;
}
/*li*/
header > ul > li {
  width: 90%;
  display: inline;
  margin: 30px;
  font-size: 22px;
  font-weight: 200;
  cursor: pointer;
}
header > ul > li:hover {
  position: relative;
  border-radius: 30px;
  background-color: var(--color-conceptColor_green);
}
/*right side*/
.rigthOfMain {
  width: 35%;
  text-align: right;
}
.rigthOfMain > h1 {
  font-size: 55px;
  text-transform: uppercase;
}
.rigthOfMain > h2 {
  font-size: 32px;
  font-weight: 300;
}
.rigthOfMain > h4 {
  font-family: InkLipquid;
  font-size: 27px;
  font-weight: 200;
  margin-top: 30px;
}
/*left side*/
.leftOfMain {
  background-color: var(--color-whiteBackground);
  width: 50%;
  padding: 0 30px 40px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
}
.leftOfMain > img {
  width: 150px;
  height: 150px;
  margin: 30px 0;
  border-radius: 50%;
  border: 3px dotted;
}
.leftLine {
  margin-top: 32px;
  text-align: left;
  border-left: 10px solid var(--color-conceptColor_green);
}
.leftLine > p,
.leftLine > h4 {
  margin: 10px 0 5px 40px;
}
.leftLine > h4 {
  font-size: 18px;
  font-weight: 600;
}

/*scrollEffect*/
.scrollEffect {
  transition: all 0.7s;
}
